a:visited a:link a:active {
  text-decoration: none;
}

main {
  background-color: #eaeaea;
  min-width: 300px;
  max-width: 50%;
  height: 97%;
  margin: auto;
  padding: 2px 10px 10px;
}

body {
  background-color: #b4bac4;
}

h1 {
  line-height: 10px;
  font-family: Bahnschrift;
}

.dir {
  font-family: Bahnschrift Light;
  color: #212121;
}
